#home-img {
    border: 0;
    margin: 0;
    padding: 0%;
    width: 100%;
}

#home-button{
    background-color: transparent;
    border: none;
    margin-left: 3%;
    margin-top: 2%;
    width: 8%;
}

#home-button:hover {
    background-color: lightblue;
}

header {
    background-color: rgb(252, 184, 60);
    padding-bottom: 1%;
}

header > * {
    display: inline;
    vertical-align: middle;
}
 

#page-title {
    text-align: center;
    font-size: 7vw;
    margin-left: 12%;
}

body {
    background-color: lightblue;
    margin: 0px;
}